* {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


body {

     margin: 0;
    background: #fff;
    min-height: 100vh;
    background:red;
    background-repeat: no-repeat;
    
}

input{
    border: 2;
}


img{
    width: 100%;
    max-width: 400px;
}


.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding:0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}



  .cliente {
            text-align: center;
        }

        .cliente img {
            max-width: 500px;
            width: 30%;
        }

        .cliente h2 {
            color: black;
            padding: 10px;
        }

        .cliente textarea {

            width: 30%;
            height: 40px;
            padding: 10px;
        }

        .cliente input {
            padding: 10px;
            width: 30%;
            height: 40px;
            cursor: pointer;
        }

        .admin {
            text-align: center;
        }

        .admin h2 {
            color: black;
            padding: 10px;
        }


header{
border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
  position: fixed;   /* fixar menu heade no Topo*/
   width: 100%;
   height: 70px;
  margin: 0px;
   z-index: 2;  /* posiçao  em primeiro luga no topo*/
    background: #000000

   
    }




/****************************** FIM DESKTOP****************************************/



/*************************************************************************/





 #container-pedidos-ID{  /* <section class="especialidades"> */
    padding: 60px 0; /*Aulturas dos cards*/
    display: inline-block;
}


#central-ID{
    margin:0px;
    padding: 0px 0px;  /* espaçamendo dos itens pros lados*/
    display: inline-block;
}



  #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 12px;
    margin-top: 0px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}

.card{
    border-radius: 10px;
width: 300px;
height: 300px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

  
    #foto{

max-width: 250%;
width:  250px; 
height: 210px; 

}

img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}



/********************************FOOTER INCIO*******************************************/

footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 0px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}




body{
    overflow-x: hidden;
}







        @media screen and (max-width: 700px){



            #form-cliente2{

                text-align: center;
                padding: 20px;
            }

            .cliente input {
            padding: 10px;
            width: 30%;
            height: 40px;
            cursor: pointer;
        }

        .cliente textarea {

width: 55%;
height: 40px;
padding: 10px;
}

.cliente h2 {
            color: black;
            padding: 10px;
        }






/*************************************************************************/


    #container-pedidos-ID{
    padding: 15px 2px;  /*altura dos cards*/ 

}

    #central-ID{
    margin: 0px;
    padding: 0px ;  /* alturas das bolsas*/
    flex-direction: column; /* deixa o texto em coluna*/
}



.card{
    border-radius: 10px;
width: 176px;
height: 280px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

    #foto{

    max-width: 100%;
    width:  220px;  /* largura*/
    height: 220px;
     padding: 0px;
     border: 3px solid #F8F8FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
     
    }

    #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 10px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}

   #descriçao-remover{

        padding: 0%;  /* tamanho das pordas*/
    border-radius: 7px;
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: red;
    font-size: 15px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}


img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}





/*****************************************************************/



/*Para arrumar scroll-x do IE e EDGE.*/

body{
    overflow-x: hidden;
    
   }
}
/***************************FIM FOOTER*************************************/


  }